.logos{
  min-height  : 530px;
  background  : $c-white;

  > p{
    padding     : 0 15% 0 15%;
    font-size   : 1.2em;

    @media only screen and (max-width: #{$mobile-max-width-portrait}){
        font-size: 1.1em;
        width: 75%;
        text-align: left;
    }
  }

  @media only screen and (max-width: #{$mobile-max-width-portrait}){
    padding-bottom: 2em;
  }
}

.logobox-container{
  width       : 75%;
  margin: 4.1em auto 0 auto;

  @media only screen and (max-width: #{$mobile-max-width-portrait}){
    margin-top: 3em;
    padding-bottom: 1em;
  }
}

.logobox{
  display         : inline-block;
  width           : 30%;
  padding         : 0 .1em 0 .1em;
  vertical-align  : top;

  @media only screen and (max-width: #{$mobile-max-width-portrait}){
    width: 90%;
    margin: 0 auto 0 auto;
    padding: .3em .1em .3em .1em;
  }

  p{
    padding: 0 15% 0 15%;

    @media only screen and (max-width: #{$mobile-max-width-portrait}){
      padding: 0;
    }
  }
}
