body {
  margin: 0;
  width:100%;
  background-color: #323a45;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  color:#424242;
}

a:link, a:visited{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size:1em;
  line-height: 1.16em;
  color: #57ad68;
  text-decoration:none;
}

a:hover, a:active{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.16em;
  color: #438951;
  text-decoration:none;
}

.main {
  width: 100%;
  margin: 0;
}

.header {
  margin: 0;
  padding:0;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  width: 100%;
}

.logo {
  position: relative;
  margin-top: 0;
  padding-left:0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6em;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: lowercase;
}

.logo h1{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6em;
  font-size: 1em;
  color: #ffffff;
}

.logo img {
  display: inline;
  height:1.5em;
  padding: 0 0.5em 0 0 ;
  vertical-align: text-top;
  border: 0;
}

.header-contact {
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6em;
  font-size: 1em;
  color: #ffffff;
  text-align:center;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  background: #3bb2d0;
  padding: 0.8em 1em 0.8em 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.btn:hover {
  background: #2fa4c1;
  text-decoration: none;
  cursor: pointer;
}

.btn a:link{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn a:visited{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn a:hover{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn a:active{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.tagline {
  margin-left: auto;
  margin-right: auto;
}

.tagline h1{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #ffffff;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.arrow img {
  width: 2em;
  border:0;
}

.icons {
  display:block;
  position:relative;
  background-color: #f1f5f4;
  background-size: cover;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16em;
}

.icons h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  text-align: center;
}

.icons h2{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  text-align: center;
}

.icons p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  color: #777777;
}

.iconbox-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iconbox-container h2{
  padding-top: 0;
}

.iconbox1{
  display: inline-block;
  padding: 0 .1em .1em .1em;
  vertical-align: top;
}
.iconbox2{
  display: inline-block;
  padding: 0 .1em .1em .1em;
  vertical-align: top;
}
.iconbox3{
  display: inline-block;
  padding: 0 .1em .1em .1em;
  vertical-align: top;
}

.logos {
  display:block;
  position:relative;
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
}

.logos h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  padding-top: 2.5em;
  text-align: center;
}

.logos p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
}

.logobox-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1em
}

.logobox1{
  vertical-align: top;
  padding: 0 .1em .1em .1em;
}

.logobox2{
  vertical-align: top;
  padding: 0 .1em .1em .1em;
}

.logobox3{
  vertical-align: top;
  padding: 0 .1em .1em .1em;
}

.facts {
  display:block;
  position:relative;
  background-color: #323a45;
  background-size: cover;
  width: 100%;
}

.facts h1{
  color: #ffffff;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  padding-top: 2.5em;
  text-align: center;
}

.facts h2{
  color:#57ad56;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  padding-top: 0.0em;
  text-align: center;
}

.facts p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: .1em;
  text-align: center;
  color: #ffffff;
}

.facts-container-main {
  margin-left: auto;
  margin-right: auto;
}

.factbox1{
  float:left;
}

.factbox2{
  float:right;
}

.factbox3{
  float:left;
}

.factbox4{
  float:right;
}

.locations {
  display:block;
  position:relative;
  margin-top: -1.3em;
  background-image: url("../images/worldmap.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  width: 100%;
}

.locations h1{
  color: #ffffff;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 1.16em;
  padding-top: 2.5em;
  text-align: center;
}

.locations p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  color: #ffffff;
}

.locationbox-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.locationbox1 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("../images/offices/los-angeles.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0 0 0 0;

}

.locationbox2 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("../images/offices/san-francisco.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0 0 0 0;

}

.locationbox3 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("../images/offices/melbourne.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0 0 0 0;

}

.locationbox1 p{
  color: #777777;
  line-height: 1.5em;
}

.locationbox2 p{
  color: #777777;
  line-height: 1.5em;
}

.locationbox3 p{
  color: #777777;
  line-height: 1.5em;
}

.contact {
  display:block;
  position:relative;
  margin-top: -1.3em;
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  min-height: 340px;
}

.contact h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 1.16em;
  padding-top: 2.5em;
  text-align: center;
}

.contact p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: center;
  color: #777777;
}

.contact-btn-container{
  position: relative;
  padding-top: 1.5em;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 0.6em;
  font-size: 1em;
  color: #ffffff;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.btn2 {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  background: #3bb2d0;
  padding: 0.8em 1em 0.8em 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.btn2:hover {
  background: #2fa4c1;
  text-decoration: none;
  cursor: pointer;
}

.btn2 a:link{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn2 a:visited{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn2 a:hover{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.btn2 a:active{
  color: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
}

.footer {
  display:block;
  position:relative;
  margin-top: -1.3em;
  padding:0em;
  background-color: #323a45;
  background-size: cover;
  width: 100%;
  min-height: 100px;
}

.social {
  max-width: 550px;
}

.social img {
  border: 0;
}

.copyright {
  max-width: 550px;
}

.clear{
  clear:both;
}

@media only screen and (min-width : 0px) and (max-width : 340px){
/*Mobile portrait*/
.header {
  min-height: 490px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 1em;
  text-align:center;
}

.logo h1{
  text-align: center;
}

.header-contact {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0%;
  padding-top: 1.5em;
  width: 60%;
}

.tagline {
  padding-top: 2em;
}

.tagline h1{
  font-size: 2em;
}

.arrow img {
  padding-top: 5em;
}

.icons {
  margin-top: -1em;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 700px;
  font-size: 1em;
}

.icons h1{
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align:center;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 1em;
  width: 100%;
}

.iconbox-container{
  display: inline-block;
  width: 90%;
  margin-top: 2.5em;
  margin-bottom: 3.5em;
}

.iconbox1{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox2{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox3{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.logos {
  margin-top: -1.4em;
  padding-bottom:2em;
  min-height: 600px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1em;
  width: 90%;
  text-align: left;
}

.logobox-container{
  width: 90%;
  margin-top: 3em;
}

.logobox1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  padding: .3em .1em .3em .1em;
}

.logobox2{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .1em .3em .1em;
  text-align: center;
}

.logobox3{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .1em .3em .1em;
  text-align: center;
}

.logobox1 p{
  text-align: center;
}

.logobox2 p{
  text-align: center;
}

.logobox3 p{
  text-align: center;
}

.facts {
  margin-top: -1.4em;
  padding-bottom:3em;
  min-height: 400px;
}

.facts h1{
  font-size: 1.7em;
}

.facts h2{
  font-size: 1.5em;
}

.facts p{
  font-size: 1em;
}

.facts-container-main {
  width: 100%;
  padding-bottom: 2em;
}

.facts-subcontainer1{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.facts-subcontainer2{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.factbox1{
  display: inline-block;
  width: 45%;
}

.factbox2{
  display: inline-block;
  width: 45%;
}

.factbox3{
  display: inline-block;
  width: 45%;
}

.factbox4{
  display: inline-block;
  width: 45%;
}

.factbox1 p{
 line-height: 1em;
}
.factbox2 p{
 line-height: 1em;
}
.factbox3 p{
 line-height: 1em;
}
.factbox4 p{
 line-height: 1em;
}

.locations {
  min-height: 850px;
}

.locations p{
  font-size: 1.4em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 100%;
  margin-top: 3em;
  padding-bottom: 3em;
}

.locationbox1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left:1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%;
  padding-left:1em;
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%;
  padding-left:1em;
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%;
  padding-left:1em;
}

.contact {
  padding-bottom:1em;
}

.contact-btn-container{
  padding-bottom: 1.5em;
  width: 60%;
}

.social {
  display: block;
  position:relative;
  width:90%;
  padding-top: 2em;
  padding-left: 2em;
  margin-left: auto;
  margin-right: auto;
}

.social img{
  display: inline-block;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  text-align:center;
}

.copyright {
  display: inline-block;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: .5em;
  padding-bottom: 1em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: .9em;
  text-align:center;
}

}

@media only screen and (min-width : 341px) and  (max-width : 500px){
/*Mobile landscape*/
.header {
  min-height: 490px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 1em;
  text-align:center;
}

.logo h1{
  text-align: center;
}

.header-contact {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0%;
  padding-top: 1.5em;
  width: 60%;
}

.btn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  padding-top: 1em;
}

.tagline h1{
  font-size: 1.7em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.arrow img {
  padding-top: 2em;
}

.icons {
  margin-top: -1em;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 700px;
  font-size: 1em;
  text-align: center;
}



.icons h1{
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: block;
  width: 90%;
  margin-top: 2.5em;
  margin-bottom: 3.5em;
}

.iconbox1{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox2{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox3{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.logos {
  margin-top: -1.4em;
  padding-bottom:2em;
  min-height: 600px;
}

.logos h1{
  font-size: 2em;
}

.logos p{
  font-size: 1.1em;
  width: 75%;
  text-align: left;
}

.logobox-container{
  width: 90%;
  margin-top: 3em;
}

.logobox1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  padding: .3em .1em .3em .1em;
}

.logobox2{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .1em .3em .1em;
}

.logobox3{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .1em .3em .1em;
}

.logobox1 p{
  text-align: center;
}

.logobox2 p{
  text-align: center;
}

.logobox3 p{
  text-align: center;
}

.facts {
  margin-top: -1.4em;
  padding-bottom:3em;
  min-height: 400px;
}

.facts h1{
  font-size: 1.7em;
}

.facts h2{
  font-size: 1.5em;
}

.facts p{
  font-size: 1em;
}

.facts-container-main {
  width: 100%;
  padding-bottom: 2em;
}

.facts-subcontainer1{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.facts-subcontainer2{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.factbox1{
  display: inline-block;
  width: 45%;
}

.factbox2{
  display: inline-block;
  width: 45%;
}

.factbox3{
  display: inline-block;
  width: 45%;
}

.factbox4{
  display: inline-block;
  width: 45%;
}

.factbox1 p{
 line-height: 1em;
}
.factbox2 p{
 line-height: 1em;
}
.factbox3 p{
 line-height: 1em;
}
.factbox4 p{
 line-height: 1em;
}

.locations {
  min-height: 850px;
}

.locations p{
  font-size: 1.2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 100%;
  margin-top: 3em;
  padding-bottom: 3em;
}

.locationbox1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  min-height: 400px;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left:1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.contact {
  padding-bottom:1em;
}

.contact p{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contact-btn-container{
  padding-bottom: 1.5em;
  width: 60%;
}

.social {
  display: block;
  width:80%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.social img{
  display: inline-block;

  padding: 0.2em;
  text-align:center;
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: .5em;
  padding-bottom: 1em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-align:center;
  max-width: 550px;
}

}

@media only screen and (min-width : 501px) and  (max-width : 620px){
/*mobile landscape*/
.header {
  min-height: 490px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 1em;
  text-align:center;
}

.logo h1{
  text-align: center;
}

.header-contact {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0%;
  padding-top: 1.5em;
  width: 60%;
}

.tagline {
  padding-top: 2em;
}

.tagline h1{
  font-size: 2em;
}

.arrow img {
  padding-top: 7em;
}

.icons {
  margin-top: -1em;
  padding-top: 2em;
  padding-bottom: 1em;
  min-height: 400px;
  font-size: 1.3em;
}



.icons h1{
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.icons h2{
  font-size: 1em;
}

.icons p{
  font-size: 0.8em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: inline-block;
  width: 90%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.iconbox1{
  display: inline-block;
  position: relative;
  width:30%;
}
.iconbox2{
  display: inline-block;
  position: relative;
  width:30%;
}
.iconbox3{
  display: inline-block;
  position: relative;
  width:30%;
}

.logos {
  margin-top: -1.4em;
  padding-bottom:2em;
  min-height: 600px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.logobox-container{
  width: 90%;
  margin-top: 3em;
}

.logobox1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  padding: .3em .1em .3em .1em;
  text-align:center;
}

.logobox2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  padding: .3em .1em .3em .1em;
  text-align:center;
}

.logobox3{
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .1em .3em .1em;
  text-align:center;
}



.facts {
  margin-top: -1.4em;
  padding-bottom:3em;
  min-height: 400px;
}

.facts h1{
  font-size: 1.7em;
}

.facts h2{
  font-size: 1.5em;
}

.facts p{
  font-size: 1.1em;
}

.facts-container-main {
  width: 100%;
  padding-bottom: 2em;
}

.facts-subcontainer1{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.facts-subcontainer2{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 2em;
}

.factbox1{
  display: inline-block;
  width: 45%;
}

.factbox2{
  display: inline-block;
  width: 45%;
}

.factbox3{
  display: inline-block;
  width: 45%;
}

.factbox4{
  display: inline-block;
  width: 45%;
}

.locations {
  min-height: 850px;
}

.locations p{
  font-size: 1.4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 100%;
  margin-top: 3em;
  padding-bottom: 3em;
}

.locationbox1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 400px;
}

.locationbox2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 400px;
}

.locationbox3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 400px;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left:1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.16em;
  padding-top: 8em;
  padding-left: 1em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.contact {
  padding-bottom:1em;
}

.contact-btn-container{
  padding-bottom: 1.5em;
  width: 60%;
}

.social {
  display:block;
  position: relative;
  width:50%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.social img{
  display: inline-block;
  padding: 0.2em;
  text-align:center;
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: .5em;
  padding-bottom: 1em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: .9em;
  text-align:center;
}

}

@media only screen and (min-width : 621px) and  (max-width : 820px){
/*small tablet portrait*/
.header {
  min-height: 550px;
}

.logo {
  float:left;
  width: 49%;
  margin-left: 14%;
  padding-top: 2.7em;
  text-align:left;
}

.logo h1{
  text-align:left;
}

.header-contact {
  float:right;
  padding-right: 13.5%;
  padding-top: 3.6em;
}

.tagline {
  padding-top: 5em;
  width:90%;
}

.tagline h1{
  font-size: 2em;
}

.arrow img {
  padding-top: 7em;
}

.icons {
  margin-top: -1.3em;
  padding:0;
  min-height: 490px;
  font-size: 1.2em;
}

.icons h1{
  font-size: 1.3em;
  padding-top: 2.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 0.8em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: block;
  width: 90%;
  margin-top: 3.5em;
}

.iconbox1{
  width:30%;
}

.iconbox2{
  width:30%;
}

.iconbox3{
  width:30%;
}

.logos {
  margin-top: -1.3em;
  min-height: 530px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1.2em;
  width: 70%;
  text-align:center;
}

.logobox-container{
  width: 90%;
  margin-top: 4.1em;
}

.logobox1{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
  text-align:center !important;
}

.logobox2{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
  text-align:center !important;
}

.logobox3{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
  text-align:center !important;
}

.facts {
  margin-top: -1.3em;
  min-height: 340px;
}

.facts h1{
  font-size: 1.9em;
}

.facts h2{
  font-size: 1.5em;
}

.facts p{
  font-size: 1em;
  line-height: 1.16em;
}

.facts-container-main {
  width: 90%;
}

.facts-subcontainer1{
  float:left;
  width: 50%;
}

.facts-subcontainer2{
  float:right;
    width: 50%;
}

.factbox1{
  display: inline-block;
  width: 50%;
}

.factbox2{
  display: inline-block;
  width: 50%;
}

.factbox3{
  display: inline-block;
  width: 50%;
}

.factbox4{
  display: inline-block;
  width: 50%;
}

.locations {
  min-height: 800px;
}

.locations p{
  font-size: 1.4em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 90%;
  margin-top: 4.1em;
}

.locationbox1 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.locationbox2 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-left:1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.locationbox3 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:1em;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.contact-btn-container{
  width: 30%;
}

.social {
  display: inline-block;
  position: relative;
  width:40%;
  padding-top: 3em;
  padding-bottom: 3em;
}

.social img{
  display: inline-block;
  position: relative;
  float: right;
  padding: 0.2em;
}

.copyright {
  display: inline-block;
  float: right;
  width: 35%;
  padding-top: 5em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
}

}

@media only screen and (min-width : 821px) and  (max-width : 1044px){
/*tablet landscape and desktop small*/
.header {
  min-height: 550px;
}

.logo {
  float:left;
  width: 49%;
  margin-left: 14%;
  padding-top: 2.7em;
  text-align:left;
}

.logo h1{
  text-align:left;
}

.header-contact {
  float:right;
  padding-right: 13.5%;
  padding-top: 3.6em;
}

.tagline {
  padding-top: 6em;
}

.tagline h1{
  font-size: 2.9em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.arrow img {
  padding-top: 7em;
}

.icons {
  margin-top: -1.3em;
  padding:0;
  min-height: 490px;
  font-size: 1.4em;
}

.icons h1{
  font-size: 1.3em;
  padding-top: 2.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 0.8em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: block;
  width: 90%;
  margin-top: 3.5em;
}

.iconbox1{

  width:30%;
}

.iconbox2{

  width:30%;
}

.iconbox3{

  width:30%;
}

.logos {
  margin-top: -1.3em;
  min-height: 530px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1.2em;
  width: 70%;
}

.logobox-container{
  width: 75%;
  margin-top: 4.1em;
}

.logobox1{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox2{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox3{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.facts {
  margin-top: -1.3em;
  min-height: 340px;
}

.facts h1{
  font-size: 1.9em;
}

.facts h2{
  font-size: 1.9em;
}

.facts p{
  font-size: 1em;
  line-height:1em;
}

.facts-container-main {
  width: 90%;
}

.facts-subcontainer1{
  float:left;
  width: 50%;
}

.facts-subcontainer2{
  float:right;
    width: 50%;
}

.factbox1{
  display: inline-block;
  width: 50%;
}

.factbox2{
  display: inline-block;
  width: 50%;
}

.factbox3{
  display: inline-block;
  width: 50%;
}

.factbox4{
  display: inline-block;
  width: 50%;
}

.locations {
  min-height: 800px;
}

.locations p{
  font-size: 1.4em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 90%;
  margin-top: 4.1em;
  padding-bottom:2em;
}

.locationbox1 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-top:2em;
}

.locationbox2 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-left:2em;
  margin-top:2em;
}

.locationbox3 {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  margin-left:2em;
  margin-top:2em;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  width: 80%
}

.contact-btn-container{
  width: 20%;
}

.social {
  display: inline-block;
  width:50%;
  padding: 3.5em;
}

.social img{
  display: inline-block;
  float: left;
  padding: 0.2em;
}

.copyright {
  display: inline-block;
  float: right;
  width: 30%;
  padding-top: 5em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
}

}

@media only screen and (min-width : 1044px) and (max-width:1999px) {
/*desktop medium*/
.header {
  min-height: 550px;
}

.logo {
  float:left;
  width: 49%;
  margin-left: 14%;
  padding-top: 2.7em;
  text-align:left;
}

.logo h1{
  text-align:left;
}

.header-contact {
  float:right;
  padding-right: 13.5%;
  padding-top: 3.6em;
}

.tagline {
  padding-top: 6em;
}

.tagline h1{
  font-size: 2.9em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.arrow img {
  padding-top: 7em;
}

.icons {
  margin-top: -1.3em;
  padding:0;
  min-height: 490px;
  font-size: 1.4em;
}

.icons h1{
  font-size: 1.3em;
  padding-top: 2.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 0.8em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: block;
  width: 75%;
  margin-top: 3.5em;
}

.iconbox1{
  display: inline-block;
  width:30%;
}

.iconbox2{
  display:inline-block;
  width:30%;
}

.iconbox3{
  display:inline-block;
  width:30%;
}

.logos {
  margin-top: -1.3em;
  min-height: 530px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1.2em;
  width: 70%;
}

.logobox-container{
  width: 75%;
  margin-top: 4.1em;
}

.logobox1{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox2{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox3{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.facts {
  margin-top: -1.3em;
  min-height: 340px;
}

.facts h1{
  font-size: 1.9em;
}

.facts h2{
  font-size: 1.9em;
}

.facts p{
  font-size: 1em;
}

.facts-container-main {
  width: 70%;
}

.facts-subcontainer1{
  float:left;
  width: 50%;
}

.facts-subcontainer2{
  float:right;
    width: 50%;
}

.factbox1{
  display: inline-block;
  width: 50%;
}

.factbox2{
  display: inline-block;
  width: 50%;
}

.factbox3{
  display: inline-block;
  width: 50%;
}

.factbox4{
  display: inline-block;
  width: 50%;
}

.locations {
  min-height: 770px;
}

.locations p{
  font-size: 1.4em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 75%;
  margin-top: 4.1em;
  padding-bottom: 2em;
}

.locationbox1 {
  display: inline-block;
  width: 300px;
  min-height: 400px;
}

.locationbox2 {
  display: inline-block;
  width: 300px;
  min-height: 400px;
  margin-left:2em;
}

.locationbox3 {
  display: inline-block;
  width: 300px;
  min-height: 400px;
  margin-top: 2em;
  margin-left:2em;

}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%

}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%
}

.contact-btn-container{
  width: 10%;
}

.social {
  display: inline-block;
  width:25%;
  padding: 3.5em;
}

.social img{
  display: inline-block;
  float: right;
  padding: 0.2em;
}

.copyright {
  display: inline-block;
  float: right;
  width: 25%;
  padding-top: 5em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
}

}

@media only screen and (min-width : 2000px) {
/*desktop large*/
.header {
  min-height: 550px;
}

.logo {
  float:left;
  width: 49%;
  margin-left: 14%;
  padding-top: 2.7em;
  text-align:left;
}

.logo h1{
  text-align:left;
}

.header-contact {
  float:right;
  padding-right: 13.5%;
  padding-top: 3.6em;
}

.tagline {
  padding-top: 6em;
}

.tagline h1{
  font-size: 2.9em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.arrow img {
  padding-top: 7em;
}

.icons {
  margin-top: -1.3em;
  padding:0;
  min-height: 490px;
  font-size: 1.4em;
}

.icons h1{
  font-size: 1.3em;
  padding-top: 2.5em;
  max-width:50%;
  margin-left: auto;
  margin-right: auto;
}

.icons h2{
  font-size: 1.1em;
}

.icons p{
  font-size: 0.8em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.iconbox-container{
  display: block;
  width: 75%;
  margin-top: 3.5em;
}

.iconbox1{
  display: inline-block;
  width:30%;
}

.iconbox2{
  display:inline-block;
  width:30%;
}

.iconbox3{
  display:inline-block;
  width:30%;
}

.logos {
  margin-top: -1.3em;
  min-height: 530px;
}

.logos h1{
  font-size: 1.9em;
}

.logos p{
  font-size: 1.2em;
  width: 70%;
}

.logobox-container{
  width: 75%;
  margin-top: 4.1em;
}

.logobox1{
  display: inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox2{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.logobox3{
  display:inline-block;
  width:30%;
  padding: 0 .1em 0 .1em;
}

.facts {
  margin-top: -1.3em;
  min-height: 340px;
}

.facts h1{
  font-size: 1.9em;
}

.facts h2{
  font-size: 1.9em;
}

.facts p{
  font-size: 1em;
}

.facts-container-main {
  width: 70%;
}

.facts-subcontainer1{
  float:left;
  width: 50%;
}

.facts-subcontainer2{
  float:right;
    width: 50%;
}

.factbox1{
  display: inline-block;
  width: 50%;
}

.factbox2{
  display: inline-block;
  width: 50%;
}

.factbox3{
  display: inline-block;
  width: 50%;
}

.factbox4{
  display: inline-block;
  width: 50%;
}

.locations {
  min-height: 770px;
}

.locations p{
  font-size: 1.4em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.locationbox-container{
  width: 72%;
  margin-top: 4.1em;
}

.locationbox1 {
  display: inline-block;
  float:left;
  width: 300px;
  min-height: 400px;
}

.locationbox2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-height: 400px;
}

.locationbox3 {
  display: inline-block;
  float: right;
  width: 300px;
  min-height: 400px;
}

.locationbox1 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox2 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox3 h1{
  color: #424242;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.16em;
  padding-top: 5em;
  padding-left:0.8em;
  text-align: left;
  margin-top: 1em;
}

.locationbox1 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%
}

.locationbox2 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%
}

.locationbox3 p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
  width: 80%
}

.contact-btn-container{
  width: 10%;
}

.social {
  display: inline-block;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  width: 25%;
}

.social img{
  display: inline-block;
  float: right;
  padding: 0.2em;
}

.copyright {
  display: inline-block;
  float: right;
  width: 25%;
  padding-top: 5em;
  color: #838383;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
}

}
