/* line 1, ../../src/scss/global/resets.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
/* line 6, ../../src/scss/global/resets.scss */
body h1 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
/* line 10, ../../src/scss/global/resets.scss */
body main {
  width: 100%;
  margin: 0;
}

/* line 3, ../../src/scss/global/components.scss */
.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  background: #3bb2d0;
  padding: 0.8em 1em 0.8em 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 14, ../../src/scss/global/components.scss */
.btn:hover {
  background: #2fa4c1;
  cursor: pointer;
}
/* line 19, ../../src/scss/global/components.scss */
.btn a {
  color: white;
  text-decoration: none;
}

/* line 25, ../../src/scss/global/components.scss */
header {
  width: 100%;
  min-height: 550px;
  background: url(../images/hero.png) left top no-repeat;
  background-size: cover;
}
/* line 31, ../../src/scss/global/components.scss */
header .logo {
  float: left;
  width: 49%;
  margin-left: 14%;
  padding-top: 2.7em;
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 0.6em;
  text-transform: lowercase;
}
/* line 43, ../../src/scss/global/components.scss */
header .logo img {
  display: inline;
  height: 1.5em;
  padding: 0 0.5em 0 0;
  vertical-align: text-top;
  border: 0;
}
/* line 52, ../../src/scss/global/components.scss */
header .header-contact {
  float: right;
  padding-right: 13.5%;
  padding-top: 3.6em;
}
/* line 58, ../../src/scss/global/components.scss */
header .tagline {
  text-align: center;
  padding-top: 6em;
  margin: 0 auto 0 auto;
}
/* line 63, ../../src/scss/global/components.scss */
header .tagline h1 {
  margin: 0.67em auto 0.5em auto;
  color: white;
  font-size: 2.9em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.16em;
  width: 60%;
}
/* line 74, ../../src/scss/global/components.scss */
header .arrow {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 79, ../../src/scss/global/components.scss */
header .arrow img {
  padding-top: 7em;
  width: 2em;
  border: 0;
}

/* line 87, ../../src/scss/global/components.scss */
section {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: -1.3em;
  padding: 0;
  color: #424242;
}
/* line 96, ../../src/scss/global/components.scss */
section h1 {
  font-size: 1.82em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  padding-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 106, ../../src/scss/global/components.scss */
section > h1 {
  width: 60%;
}
/* line 110, ../../src/scss/global/components.scss */
section p {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  color: #777777;
}
/* line 119, ../../src/scss/global/components.scss */
section.icons {
  min-height: 490px;
  background: #f1f5f4;
  font-size: 1.4em;
}
/* line 124, ../../src/scss/global/components.scss */
section.icons h1 {
  font-size: 1.3em;
}
/* line 128, ../../src/scss/global/components.scss */
section.icons h2 {
  font-size: 1.1em;
}
/* line 132, ../../src/scss/global/components.scss */
section.icons a {
  color: #57ad56;
  text-decoration: none;
}
/* line 136, ../../src/scss/global/components.scss */
section.icons a:hover {
  color: #438951;
}
/* line 141, ../../src/scss/global/components.scss */
section.icons .iconbox-container {
  display: block;
  width: 75%;
  margin: 0 auto 0 auto;
  margin-top: 3.5em;
}
/* line 147, ../../src/scss/global/components.scss */
section.icons .iconbox-container .iconbox {
  display: inline-block;
  width: 30%;
  padding: 0 .1em .1em .1em;
  vertical-align: top;
}
/* line 153, ../../src/scss/global/components.scss */
section.icons .iconbox-container .iconbox p {
  font-size: 0.8em;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 162, ../../src/scss/global/components.scss */
section.logos {
  min-height: 530px;
  background: white;
}
/* line 166, ../../src/scss/global/components.scss */
section.logos > p {
  padding: 0 15% 0 15%;
  font-size: 1.2em;
}
/* line 171, ../../src/scss/global/components.scss */
section.logos .logobox-container {
  width: 75%;
  margin: 4.1em auto 0 auto;
}
/* line 175, ../../src/scss/global/components.scss */
section.logos .logobox-container .logobox {
  display: inline-block;
  width: 30%;
  padding: 0 .1em 0 .1em;
  vertical-align: top;
}
/* line 181, ../../src/scss/global/components.scss */
section.logos .logobox-container .logobox p {
  padding: 0 15% 0 15%;
}
/* line 188, ../../src/scss/global/components.scss */
section.facts {
  background: #323a45;
  min-height: 340px;
}
/* line 192, ../../src/scss/global/components.scss */
section.facts h1 {
  padding-top: 2.5em;
  color: white;
}
/* line 197, ../../src/scss/global/components.scss */
section.facts .facts-container {
  width: 70%;
  margin: 0 auto 0 auto;
  padding-top: 1em;
}
/* line 202, ../../src/scss/global/components.scss */
section.facts .facts-container .factbox {
  position: relative;
  display: inline-block;
  width: 24.5%;
}
/* line 207, ../../src/scss/global/components.scss */
section.facts .facts-container .factbox h2 {
  color: #57ad56;
  font-size: 1.9em;
  line-height: 0.1em;
}
/* line 213, ../../src/scss/global/components.scss */
section.facts .facts-container .factbox p {
  color: white;
}
/* line 220, ../../src/scss/global/components.scss */
section.locations {
  min-height: 770px;
  background: url(../images/worldmap.png) left top no-repeat;
  background-size: cover;
}
/* line 225, ../../src/scss/global/components.scss */
section.locations > h1 {
  color: white;
  padding-top: 2.5em;
}
/* line 230, ../../src/scss/global/components.scss */
section.locations > p {
  color: white;
  width: 50%;
  font-size: 1.4em;
  margin: 0 auto 0 auto;
}
/* line 237, ../../src/scss/global/components.scss */
section.locations .locationbox-container {
  width: 75%;
  margin: 0 auto 0 auto;
  padding-top: 6.1em;
  padding-bottom: 2em;
}
/* line 243, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 400px;
  border-radius: 10px;
  background: white left top no-repeat;
  padding: 0;
}
/* line 253, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 400;
  padding: 5em 0 0 0.8em;
  line-height: 1.16em;
}
/* line 261, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox p {
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 269, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox + .locationbox {
  margin-left: 2em;
}
/* line 273, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox.los-angeles {
  background-image: url("../images/offices/los-angeles.png");
}
/* line 277, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox.san-francisco {
  background-image: url("../images/offices/san-francisco.png");
}
/* line 281, ../../src/scss/global/components.scss */
section.locations .locationbox-container .locationbox.melbourne {
  background-image: url("../images/offices/melbourne.png");
}
/* line 290, ../../src/scss/global/components.scss */
section.contact > h1 {
  font-size: 1.9em;
}
/* line 294, ../../src/scss/global/components.scss */
section.contact > p {
  font-size: 1.4em;
}
/* line 298, ../../src/scss/global/components.scss */
section.contact .fsPage {
  text-align: left;
}

/* line 304, ../../src/scss/global/components.scss */
footer {
  padding: 0em;
  min-height: 160px;
  background: #323a45;
}
/* line 309, ../../src/scss/global/components.scss */
footer .social {
  float: left;
  display: inline-block;
  width: 25%;
  max-width: 550px;
  padding: 3.5em;
}
/* line 316, ../../src/scss/global/components.scss */
footer .social img {
  display: inline-block;
  float: right;
  padding: 0.2em;
}
/* line 323, ../../src/scss/global/components.scss */
footer .copyright {
  float: right;
  display: inline-block;
  width: 25%;
  max-width: 550px;
  padding-top: 5em;
  font-weight: 700;
  font-size: 1em;
  font-style: normal;
  color: #838383;
}
