body{
  margin         : 0;
  font-family    : $f-main;
  font-size      : 1em;
}

h1{
  font-family    : $f-main;
}

main{

  width          : 100%;
  margin         : 0;
}

section{
  position       : relative;
  display        : block;
  text-align     : center;
  width          : 100%;
  padding        : 0;
  color          : $c-heading;
  margin-top     : -1.3em;

  h1{
    font-size    : 1.82em;
    font-style   : normal;
    font-weight  : 700;
    line-height  : 1.16em;
    padding-top  : 2.5em;
    margin-left  : auto;
    margin-right : auto;
  }

  > h1{
    @media only screen and (min-width: 820px){
      width      : 60%;
    }
  }

  p{
    text-align   : center;
    font-size    : 1.1em;
    font-weight  : 400;
    line-height  : 1.3em;
    color        : $c-text;
  }
}
