$c-white                 : #ffffff;
$c-button                : #3bb2d0;
$c-button-hover          : #2fa4c1;
$c-heading               : #424242;
$c-background-light-grey : #f1f5f4;
$c-background-dark-grey  : #323a45;
$c-green                 : #57ad56;
$c-green2                : #438951;

$c-text                  : #777777;
$c-footer-text           : #838383;
