.btn{
  color             : $c-white;
  border-radius     : 6px;
  font-style        : normal;
  font-weight       : 700;
  font-size         : 1em;
  background        : $c-button;
  padding           : 0.8em 1em 0.8em 1em;
  text-shadow       : 0 1px 0 rgba(0, 0, 0, 0.25);
  text-align        : center;

  &:hover{
    background      : $c-button-hover;
    cursor          : pointer;
  }

  a{
    color           : $c-white;
    text-decoration : none;
  }
}
